{% extends 'admin/index.html.twig' %}


{% block body %}
    <div class="col-12 col-md-10 text-center">
        <h1 class="my-3">{{ project.nom }}</h1>
        <div class="col-12 col-md-9 mb-4 color_div mx-auto rounded p-2">
            <div class="row">
                <div class="col-12 col-md-6">
                    <img class="img-fluid" src="{{ asset('assets/img/' ~ project.imageName ) }}" alt="">
                </div>
                <div class="col-12 col-md-6">
                    <p>{{ project.description }}</p>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <label for="staticEmail" class="col-6 col-form-label">Date de début:</label>
                        <input type="text" readonly class="form-control-plaintext col-6 text-center" id="staticEmail"
                               value="{{ project.dateDebut|date('d-m-Y') }}">
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="row">
                        <label for="staticEmail" class="col-6 col-form-label">Date de fin:</label>
                        <input type="text" readonly class="form-control-plaintext col-6 text-center" id="staticEmail"
                               value="{{ project.dateFin|date('d-m-Y') }}">
                    </div>
                </div>
            </div>

            <h5 class="bg-dark mt-3 text-white">Liste des participants</h5>

            <div class="row mt-3 col-8 mx-auto ">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="col-6 col-md-4">Nom</th>
                        <th class="col-6 col-md-4">Prénom</th>
                        <th class="col-md-4 none">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in project.usersProjects %}
                    <tr>
                        <td>{{user.nom}}</td>
                        <td>{{user.prenom}}</td>
                        <td class="none">{{user.mail}}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <h5 class="bg-dark mt-3 text-white">Commentaires</h5>
            {% for com in project.commentaires %}
            <div class="row border col-10 mx-auto p-0">
                    <div class="col-4">
                        <p>{{ com.user.prenom }}</p>
                    </div>
                    <div class="col-8">
                        <p>{{ com.avis }}</p>
                    </div>
            </div>
            {% endfor %}
            {{ form_start(form) }}
            <div class="row col-11 mx-auto mt-5">
                <div class="col-12">
                    {{ form_widget(form.avis) }}
                    <div class="text-right mt-3">
                        <button type="submit" class="btn btn-light text-right">Poster</button>
                    </div>
                </div>
                {{ form_end(form) }}

            </div>
        </div>
    </div>

{% endblock %}
